<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fatcat.spinach.mapper.CompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fatcat.spinach.pojo.CompanyInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>